<div id="finalizeGame">

    <h2>Enter final outcome to generate insights.</h2>
        
         <form>

            <select ng-model="game.outcome">
                <option value="Outcome..">Outcome..</option>
                <option value="Win">Win</option>
                <option value="Loss">Loss</option>
            </select>

            <input type="text" ng-model="game.teamScore" placeholder="Your Team's Score">
            <input type="text" ng-model="game.oppositionScore" placeholder="Opposition's Score">

            <button ng-click="resolveGame(game)">Done</button>

        </form>

</div>