<div id="createTeam">
    <h2>Create your Team</h1> 
        
    <form>
        <input type="text" placeholder="Team Name" required ng-model="team.name">
        <input type="text" placeholder="League" ng-model="team.league">
        <input type="text" placeholder="Season ex: 2017/2018" required ng-model="team.season">
        <div class="col-md-offset-3">
            <button type="submit" class="btn btn-warning" value="Save" ng-click="createNewTeam(team, coach)">Next</button>
        </div>
    </form>


</div>