<div id="createGame">
            
<!-- CREATE NEW GAME: -->
    <div ng-if="gameID === false">
        <h2 class="text-center">Add a Game to Your Schedule</h1> 
                        
        <form >
                        
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="gameOpposition">Opposing Team</label>
                <input required ng-model="game.opposition" type="text" class="form-control" id="gameOpposition" aria-describedby="gameHelp" placeholder="Enter Opposing Team Name">
            </div>

            <div class="form-group col-md-4 col-md-offset-4">
                <label for="location">Game Location</label>
                <input required ng-model="game.location" type="text" class="form-control" id="location" aria-describedby="locationHelp" placeholder="Enter Game Location">
                <small id="locationHelp" class="form-text text-muted">May enter "Home" or location of away game.</small>
            </div>
                                    
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="date">Game Date</label>
                <input ng-model="game.date" required type="date" class="form-control" id="date">
            </div>

            <div class="form-group col-md-4 col-md-offset-4">
                <label for="time">Game Time</label>
                <input ng-model="game.time" required type="time" class="form-control" id="time">
            </div>
                                
            <div class="form-group col-md-4 col-md-offset-4">
                <button type="submit" class="btn" value="Save" ng-click="saveAndAddAnotherGame(game, coach)">Add Another Game</button>
                <button type="submit" class="btn" value="Save" ng-click="saveAndClose(game)">Done</button>
            </div>

        </form> 
    </div>

<!-- EDIT EXISTING GAME: -->
    <div ng-if="gameID === true">
        <h2 class="text-center">Edit Upcoming Game</h1> 
                    
        <form>
                    
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="gameOpposition">Opposing Team</label>
                <input required ng-model="game.opposition" type="text" class="form-control" id="gameOpposition" aria-describedby="gameHelp" placeholder="{{fbGame.opposition}}">
            </div>

            <div class="form-group col-md-4 col-md-offset-4">
                <label for="location">Game Location</label>
                <input required ng-model="game.location" type="text" class="form-control" id="location" aria-describedby="locationHelp" placeholder="{{fbGame.location}}">
                <small id="locationHelp" class="form-text text-muted">May enter "Home" or location of away game.</small>
            </div>
                                
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="date">Game Date</label>
                    <input type="date" placeholder="{{fbGame.date}}"  ng-model="game.date">
                    <input ng-model="game.date" required type="date" class="form-control" id="date">
            </div>

            <div class="form-group col-md-4 col-md-offset-4">
                <label for="time">Game Time</label>
                <input ng-model="game.time" required type="time" class="form-control" id="time" placeholder="{{fbGame.time}}">
            </div>
                            
            <div class="form-group col-md-4 col-md-offset-4">
                <button type="submit" class="btn" value="Delete" ng-click="deleteGame(game, coach)">Delete Game From Schedule</button>
            </div>

            <div class="form-group col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-warning" value="Save" ng-click="editGame(game, coach)">Save</button>
            </div>
                    
        </form> 
    </div>

</div>
