body {
  font-family: "Roboto", sans-serif; }
  body h1, body h2, body h3 {
    font-family: "Krona One", sans-serif; }

nav {
  background: #0b4075 !important;
  font-family: "Krona One", sans-serif !important; }
  nav a {
    color: #ffffff !important; }
  nav a:hover {
    background: transparent !important;
    color: #D3BC8D !important; }
  nav img {
    height: 35px; }

.navbar {
  margin-bottom: 0 !important; }

.landing {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: block; }
  .landing h1 {
    font-family: "Krona One", sans-serif;
    size: 300%;
    color: #0b4075;
    margin-top: 0;
    padding-top: 2%; }
  .landing img {
    height: 20vh;
    width: 20vh; }

.landing::after {
  content: "";
  background: url("../images/basketball-stat-tracker.jpeg") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1; }

.btn {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: #0b4075;
  padding: 10px 20px 10px 20px;
  border: solid #c0c0c0 2px;
  text-decoration: none; }

.btn:hover {
  background: #b19a6c !important;
  text-decoration: none !important;
  color: black !important; }

.btn:active {
  color: #ffffff !important; }

#buttonGroup {
  display: flex;
  flex-flow: row;
  justify-content: center; }

.button-group {
  margin-right: 8vh;
  margin-left: 8vh; }

#teamDashButtonGroup {
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

table {
  margin-bottom: 2%;
  margin-top: 2%; }

#teamDashboard, #gameHistory {
  margin-right: 5%;
  margin-left: 5%; }

.table th, .table td {
  border-top: none !important;
  border-bottom: none !important; }

.table th {
  font-size: 125%; }

#coach-buttons {
  text-align: right; }

.team-stat-head {
  font-family: "Krona One", sans-serif; }

#coachGameSchedule {
  display: inline-block;
  max-height: 345px;
  overflow-y: scroll; }

#trackControls {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 300%; }
  #trackControls .trackBtn {
    font-size: 125% !important; }

#trackerStatSelect .table {
  font-size: 125% !important;
  border: none;
  margin-left: 20px;
  margin-right: 65px; }

#trackerStatSelect .statType {
  vertical-align: center !important; }

#trackerStatSelect .btn {
  font-size: 60% !important; }

#coachStatSelect .selectStats {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 125%; }

#insightsButtonGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

#gameInsights {
  margin: auto;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
  width: 95vw;
  margin-top: 20px;
  margin-bottom: 10px; }
  #gameInsights .table {
    overflow: scroll; }
