<div>

    <h2 class="text-center">vs. {{game.opposition}}</h2>
    <h2 class="text-center">Track {{stat.statTypeId}}</h2>

    <div class="row">

        <button class="btn col-xs-4 col-md-1 col-md-offset-4" ng-click="statPlusOne(stat)">+</button>
        <p class="col-xs-4 col-md-1">{{stat.total}}</p>
        <button class="btn col-xs-4 col-md-1" ng-click="statMinusOne(stat)">-</button>

    </div>

    <div class="row form-group col-md-4 col-md-offset-4">
        <button class="btn" ng-click="goToTeamDashboard(game.teamId)">Game Over</button>
    </div>
    
    

</div>