<div id="trackerStatSelect">

    <h3 class="text-center">vs. {{game.opposition}}</h3>
    <h3 class="text-center">{{game.date | date:'MM/dd/yyyy'}}</h3>
        
    <h1 class="text-center">Select Stat</h1> 
    
                
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <!-- <th scope="col-md-1" class="justify-right col-md-1"></th> -->
                <th scope="col" class="col-md-1"></th>
                <th scope="col" class="col-md-1"></th>
            </tr>
        </thead>

        <tbody class="table" ng-repeat="gameStat in gameStats">
            <tr>
                <td class="col-md-1 text-right">
                    <button class="btn" ng-click="trackNow(gameStat.id)">Track</button>
                </td>
                <td class="col-md-1 statType">{{gameStat.statTypeId}}</td> 
            </tr>
        </tbody>

    </table>

    <div class="row form-group ">
        <button class="btn col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4" ng-click="goToTeamDashboard(game.teamId)">Back</button>
    </div>
    
</div>